.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.accordion {
  background-color: #fff;
  border-radius: 25px;
  width: 800px;
  height: 415px;
  padding: 50px;
  box-shadow: 0 0 75px 1px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.accordion-item {
  margin-bottom: 15px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.accordion-item__icon {
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #000;
}

.accordion-item_content {
  padding-left: 41px;
  visibility: hidden;
  opacity: 0;
  will-change: height;
	transition: height .15s cubic-bezier(.65, .05, .36, 1);

  &[aria-hidden="true"] {
    margin-top: 25px;
    opacity: 1;
    visibility: visible;
  }
}